@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial
	
}

header{
    
    background-color: #ff9a04;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{float:left;}

div#logo{
    margin: 10px 0px 20px 10px;
	float:left;
}

img#logocentro{
    width: 160px;
	float:left;
}

ul#menu > li{
    list-style-type: none;
    float: left;
    margin: 5px 30px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

ul#menu > li:hover{
    background-color:#ffd27b;
    border-radius: 5px;
    transition: 0.3s;
}
li a{
	color: black;
	text-decoration: none;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

article#introducao{
    margin-top: 20px;
	margin-left:12%;
	margin-right:12%;
}

p#segueimg2{
    margin: 20px 0px 20px 10px;
}

img#imagem2{
    width: 450px;
}

.title{
    margin: 10px 0px 0px 20px ;
}

div#img2{
    display: flex;
    justify-content: center;
}

div#img3{
    display: flex;
    justify-content: center;
}

img#imagem3{
	height: 300px;
    width: 100%;
	border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

div#img4{
    display: flex;
    justify-content: center;
}

img#imagem4{
    height: 300px;
    width: 100%;
	border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

div#img5{
    display: flex;
    justify-content: center;
}

img#imagem5{
   height: 300px;
    width: 100%;
	border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

div#img6{
    display: flex;
    justify-content: center;
}

img#imagem6{
    height: 300px;
    width: 100%;
	border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

div#img7{
    display: flex;
    justify-content: center;
}

img#imagem7{
    height: 300px;
    width: 100%;
	border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

div#img8{
    display: flex;
    justify-content: center;
}

img#imagem8{
    height: 300px;
    width: 100%;
	border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

div#img9{
    display: flex;
    justify-content: center;
}

img#imagem9{
     height: 300px;
    width: 100%;
	border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

div#img10{
    display: flex;
    justify-content: center;
}

img#imagem10{
     height: 300px;
    width: 100%;
	border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

div#img11{
    display: flex;
    justify-content: center;
}

img#imagem11{
      height: 300px;
    width: 100%;
	border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

footer{
    background-color: #ffa800;
    display: flex;
    flex-direction: column;
	text-align: center;
}
footer img{
	width:50px;
	padding:14px;
}
.footer_redes_sociais{
	margin-left: auto;
	margin-right: auto;
	padding-left:20px;
}
.maps{
	display: flex;
    justify-content: center;
}
body{
	font-size:20px;
	text-align:justify;
}
.blocos{
	width:100%;
	display: flex;
    justify-content: center;
}
.bloco{
	width: 30%;
    height: 700px;
	background-color: #fff0da;
	border-radius: 25px;
	margin-left: 3%;
	float: left;
}
.bloco p{
	padding: 16px;
}

.footer-nav{
	list-style-type: none;
    float: left;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}